<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style/style.css" media="screen">
</head>
<body>
  <main id="mainArea">

  </main>

  <script type='text/template' id="homePage">
    <nav>
      <ul>
        <a href=""><li>Registration</li></a>
        <a href="#records"><li>Records</li></a>
      </ul>
    </nav>
    <h1>Registration Area</h1>
    <h3>First Name </h3>
    <input id="firstName" type="text" placeholder="First Name"><br>
    <h3>Last Name </h3>
    <input id="lastName" type="text" placeholder="Last Name"><br>
    <h3>Address</h3>
    <input id="address" type="text" placeholder="Address"><br>
    <h3>Phone Number</h3>
    <input id="phoneNumber" type='text' placeholder="Phone Number"><br>
    <button id="submit">Submit</button>
  </script>

  <script type="text/template" id="record">
    <nav>
      <ul>
        <a href=""><li>Registration</li></a>
        <a href="#records"><li>Records</li></a>
      </ul>
    </nav>
    <h1>Records:</h1>
    <% _.forEach(records, function(data){ %>
    <h2 class="recordTitle">Record:</h2>
    <h3>First Name:</h3><br>
    <span><%=data.firstName %></span><br>
    <h3>Last Name:</h3><br>
    <span><%= data.lastName %></span><br>
    <h3>Address:</h3><br>
    <span><%= data.address %></span><br>
    <h3>Phone Number:</h3><br>
    <span><%= data.phoneNumber %></span>
    <% }) %>

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src='js/main.js'></script>
</body>
</html>
